<div class="container-fluid">
   
    <div class="row">
       <div class="col-lg-12">
         <nav class="nav navbar-expand-lg navbar-light" >
            <div class="navbar-header">
            <a class="navbar-brand" >Expense Manager</a>
            </div>
            <ul class="nav nav-pills" >
               <li class="nav-item " ><a class = "nav-link " routerLink="/dashboard">Go to dashboard </a></li>
               <li class="nav-item " ><a class = "nav-link " routerLink="/add-expense">Add new expense </a></li>
               <li class="nav-item " ><a class = "nav-link" routerLink="/view-all-expenses">View all expenses</a></li>
               </ul> 
                  <ul class="nav nav-pills ml-auto" >
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                              <i class="fa fa-user" aria-hidden="true"></i> User Management
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/update-userInfo">
                               Change userInfo </a>
                            <a  class="dropdown-item" routerLink="/update-password">
                              Change password </a>
                          </div>
                        </li>
                   <li class="nav-item " ><a class = "nav-link " routerLink="/logout">Logout </a></li>
                  </ul> 
        </nav>
        </div>
      </div>
      <br>
      <div class="alert alert-danger" *ngIf="errorOccurred" >
         <strong> Error! Error message:- {{errorMessage}}</strong>
     </div>
 
   <div class="container" >
      <div class="alert alert-danger" *ngIf="errorOccurred" >
          <strong> Error! Error message:- {{errorMessage}}</strong>
      </div>
   <div class="card rounded-0">
           <div class="card-header">
             <h5 class="mb-0">Update password</h5>
           </div>
     <div class="card-body"> 
      <form #form="ngForm" >
        <div ngModelGroup="passwordGroup" 
        [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
         <div class="form-group">
               <label for="password" class="control-label">Enter new password:</label>
               <div class="inputWithIcon">
               <input class="form-control" [(ngModel)]="password" name="password" type="password"
               (change) = "confirmPassword.control.updateValueAndValidity()">
               <i class="fa fa-lock" aria-hidden="true"></i>
               </div>
           </div>
           <div class="form-group">
              <div class="inputWithIcon">
                  <label for="title" class="control-label">Confirm password:</label>

              <div class="inputWithIcon">
              <input class="form-control" [(ngModel)]="confirmpassword" appConfirmEqualPasswordValidator  = "password" name="confirmPassword"
               type="password" #confirmPassword = "ngModel" required>
              <i class="fa fa-lock" aria-hidden="true"></i>
              </div>

              <span class="help-block" *ngIf="confirmPassword.errors && confirmPassword.touched 
            && confirmPassword.errors.required || form.submitted && confirmPassword.errors 
            && confirmPassword.errors.required ">
              <br>Confirm Password is required.
            </span>

            <span class="help-block" *ngIf=" confirmPassword.touched && confirmPassword.errors 
            && confirmPassword.errors.notEqual || form.submitted && confirmPassword.errors 
            && confirmPassword.errors.notEqual ">
              <br>Password and confirm password does not match.
           </span>
           </div>
          </div>
        </div>
     </form>

     <button class="btn btn-primary" mwlConfirmationPopover
     [popoverTitle]="popoverTitle"
     [popoverMessage]="popoverMessage"
     placement="right"
     (confirm)="onClick()"><i class="fa fa-bars" aria-hidden="true"></i>
       Save </button>  
     </div>
   </div>
   </div><br>
 
 <div class="row">
     <div class="col-lg-12">
       <nav class="nav navbar-expand-lg navbar-light" >
       </nav>
      </div>
    </div>
 
 </div>