nav{
    background-color: #e3f2fd
}
.col-lg-12{
    padding-left: 0%;
    padding-right: 0%;
}
a.dropdown-item:hover{
    background-color:#91d9fa;
}
.dropdown-menu{
    background-color: #e3f2fd;
}
.inputWithIcon input[type=password]{
    padding-left: 40px;
}
.inputWithIcon {
    position: relative;
}
.inputWithIcon i{
    position: absolute;
    right:0;
    top :8px;
    padding-right: 8px;
    padding-bottom: 8px;
}
span{
    color :red;
}