<!--The content below is only a placeholder and can be replaced.-->
<title> Login </title>
<div>
    <div class="row">
        <div class="col-lg-12">
          <nav class="nav navbar-expand-lg navbar-light" >
             <div class="navbar-header">
             <a class="navbar-brand " (click)="onhome()">Expense Manager</a>
             </div>
                   <ul class="nav nav-pills ml-auto" >
                   <li class="nav-item " ><a class = "nav-link " routerLink="/login">Login </a></li>
                   <li  class="nav-item"><a class ="nav-link "  routerLink="/register">Sign up</a></li>
                   </ul> 
         </nav>
         </div>
       </div>
  <br>
  <div class="container" >
    <div class="card rounded-0">
            <div class="card-header">
              <h3 class="mb-0">Login</h3>
            </div>
    <div class="card-body">
      <form #form="ngForm">
        <div class="form-group">
          <label for="email" class="control-label">Email id: &nbsp;&nbsp;</label>
          <input [(ngModel)]="email" name="email" type="text">
        </div> 
        <div class="form-group">
        <label for="password" class="control-label"> Password:</label>
          <input [(ngModel)]="password" name="password" type="password">
        </div>
      <button class="btn btn-success" type="submit" [disabled]="!form.valid" (click)="onLogin()"> Login </button>
     </form>
    </div>
  </div>
 </div>
<br>
    <div class="row">
        <div class="col-lg-12">
          <nav class="nav navbar-expand-lg navbar-light" >
                   <ul class="nav navbar-nav ml-auto" >
                   <li class="nav-item " ><a class = "nav-link " href="#">Contact </a></li>
                   <li  class="nav-item"><a class ="nav-link "  href="#">Social</a></li>
                   </ul> 
         </nav>
         </div>
  </div>
</div>
