nav{
    background-color: #e3f2fd
}
well{
    background-color: aqua;
    align-self: center;
   
}
table{
  
  text-align: center;
    border: 3 ;
    padding: 1px;
}
pagination-controls{
    text-align: center;
    align-self: center;
}
div.card{
    width:80%; 
    align-self: center;
    margin: 0 auto; 
    float: none;
    margin-bottom: 8px;
}
.col-lg-12{
    padding-left: 0%;
    padding-right: 0%;
}
a.dropdown-item:hover{
    background-color:#91d9fa;
}
.dropdown-menu{
    background-color: #e3f2fd;
}
