h1{
    text-align:center; 
    color:darkslateblue;
}
h3{
    
    color: midnightblue ;
    font-size: 210%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

span{
    color :red;
}
label{
    font-style: normal ;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
nav{
    background-color:  #e3f2fd  
}

well{
    background-color: aqua;
    align-self: center;
   
}
.inputWithIcon input[type=text]{
    padding-left: 40px;
}
.inputWithIcon {
    position: relative;
}
.inputWithIcon i{
    position: absolute;
    right:0;
    top :8px;
    padding-right: 8px;
    padding-bottom: 8px;
}
.col-lg-12{
    padding-left: 0%;
    padding-right: 0%;
}
a.dropdown-item:hover{
    background-color: #2196f3;
}
.dropdown-menu{
    background-color: #e3f2fd;
}

  

