nav{
    background-color: #e3f2fd
}

well{
    background-color: aqua;
    align-self: center;
}
div.card{
    width:70%; 
    align-self: center;
    margin: 0 auto; 
    float: none;
    margin-bottom: 10px;
}
th{
    width: 20%;
}
td{
    width:20%
}
table{
    width: 50%;
    text-align: center;
}
thead{
    background-color: #e0f7fa;
}