<div class="row">
        <div class="col-lg-12">
          <nav class="nav navbar-expand-lg navbar-light" >
             <div class="navbar-header">
             <a class="navbar-brand" (click)="onhome()">Expense Manager</a>
             </div>
            
                   <ul class="nav navbar-nav ml-auto" >
                   <li class="nav-item " ><a class = "nav-link " routerLink="/login">Login </a></li>
                   <li  class="nav-item"><a class ="nav-link "  routerLink="/register">Sign up</a></li>
                   </ul> 
         </nav>
         </div>
       </div>
       <div class="card text-center">
            <br>
            
            <div class="card-body">
              This application manages expenses.
            </div>
            <br>
          </div>
<div class="row">
        <div class="col-lg-12">
          <nav class="nav navbar-expand-lg navbar-light" >

                   <ul class="nav navbar-nav ml-auto" >
                   <li class="nav-item " ><a class = "nav-link " href="#">Contact </a></li>
                   <li  class="nav-item"><a class ="nav-link "  href="#">Social</a></li>
                   </ul> 
          
         </nav>
         </div>
         
  </div>
  